<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="field1" class="ru.stepanian.calc.components.MyField" init-method="init">
        <property name="text" value="add number"/>
        <property name="actionListener" ref="calcFieldsFocusListener1"/>
    </bean>

    <bean id="field2" class="ru.stepanian.calc.components.MyField" init-method="init">
        <property name="text" value="add number"/>
        <property name="actionListener" ref="calcFieldsFocusListener2"/>
    </bean>

    <bean id="fieldResult" class="ru.stepanian.calc.components.MyField">
        <property name="editable" value="false"/>
        <property name="focusable" value="false"/>
    </bean>

</beans>