<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="labelNumber1" class="javax.swing.JLabel">
        <property name="text" value="Number 1:"/>
    </bean>

    <bean id="labelNumber2" class="javax.swing.JLabel">
        <property name="text" value="Number 2:"/>
    </bean>

    <bean id="labelResult" class="javax.swing.JLabel">
        <property name="text" value="Result:"/>
    </bean>


</beans>